<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ baseUrl }}/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/highlight.tomorrow-night.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">
    </head>
    <body>

        <main class="container-fluid">
            <div class="row">

                    <nav id="sidebar" class="col-sm-3 col-lg-2" role="navigation">
                        <div class="logo">
<center>
							<a href="{{ baseUrl }}"><img src="{{ baseUrl }}/images/logo-small.png" /></a>
							<br/>
							<b>Phpactor</b><br/> <i>Intelligent completion and refactoring tool for PHP</i>
</center>
						</div>

                        {% for section in menu.sections %}
                            <p class="text-muted">
                                {{ section.name }}
                            </p>

                            <ul class="nav nav-pills nav-stacked">
                                {% for itemId, item in section.items %}
                                    <li class="{{ itemId == currentMenu ? 'active' }}">
                                        <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                                            {{ item.text|raw }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}

                    </nav>

                <section class="{{ menu ? 'col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10' : 'col-sm-12' }}">
                    {{ content|raw }}
                </section>

            </div>

        </main>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//yandex.st/highlightjs/7.5/highlight.min.js"></script>

        <script>
            $(function() {
                $("section>h1").wrap('<div class="page-header" />');
                $("section>h2").each(function (index, value) {
                    $(value).append('&nbsp;<a href="#' + $(value).attr('id') + '"><i class="fa small fa-link"></i></a>');
                });
                // Syntax highlighting
                hljs.initHighlightingOnLoad();
            });
        </script>

		<footer>
<hr />
<center>
			<a href="https://github.com/{{ github.user }}/{{ github.repo }}">
				<i class="fa fa-github"></i>
Fork me on Github!
			</a> | 

			<a href="/dashboard.html">
                Build Dashboard
			</a>
</center>
		</footer>

	</body>
</html>
